doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Water

    // build:css styles/styles.css
    link(rel='stylesheet', type='text/css', href='styles/main.css')
    // endbuild

  body

    article

      section(data-bespoke-state='intro dimmed')
        h1 Water

      section
        h2 In an Earthquake

      section(data-bespoke-state='waterbob')
        h2 Water Bob

        h3. Inventory: 5 <a href="http://www.amazon.com/gp/product/B001AXLUX2/ref=as_li_tl?ie=UTF8&camp=1789&creative=390957&creativeASIN=B001AXLUX2&linkCode=as2&tag=shadowpuppetn-20&linkId=FIEWOXFXPHW6SIQA">via Amazon (&lt; $20)</a>
        ul
          li Fits virtually any bathtub
          li Holds 100 gallons
          li Fresh for up to 12 weeks
          li Faucet attachment, dispense pump
          li BPA-Free

      section(data-bespoke-state='emphatic')
        h2 Emphatic Slide!
        h3 

      section(data-bespoke-state='secureheater')
        h2 Secure Your Water Heater!
        a(href='http://www.seattle.gov/emergency/library/snap/skills/Earthquake%20Safety%20securing%20water%20heater.pdf') Seattle Earthquake Safety Guide &#10159;

    // build:js scripts/scripts.js
    script(src='bower_components/bespoke.js/dist/bespoke.min.js')
    script(src='bower_components/bespoke-keys/dist/bespoke-keys.min.js')
    script(src='bower_components/bespoke-touch/dist/bespoke-touch.min.js')
    script(src='bower_components/bespoke-bullets/dist/bespoke-bullets.min.js')
    script(src='bower_components/bespoke-scale/dist/bespoke-scale.min.js')
    script(src='bower_components/bespoke-hash/dist/bespoke-hash.min.js')
    script(src='bower_components/bespoke-progress/dist/bespoke-progress.min.js')
    script(src='bower_components/bespoke-state/dist/bespoke-state.min.js')
    script(src='scripts/main.js')
    // endbuild